:root {
  font-family: Poppins, system-ui, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  min-width: 32rem;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #191923;
}

h1 {
  color: #fff;
  text-align: center;
  font-size: 4rem;
  font-weight: 800;
}

.btn {
  background: #20202a;
  color: #fb8122;
  text-transform: uppercase;
  margin: 1.5rem;
  padding: 0.5rem;
  border: 0.2rem solid #fb8122;
  border-radius: 0.5rem;
  box-shadow: 0 1.2rem #fb8122, 0 1.8rem rgba(0, 0, 0, 0.4);
  font-size: 3.6rem;
  font-weight: 900;
  width: 9rem;
  height: 8rem;
  cursor: pointer;
  position: relative;
  top: 0;
}

.btn:hover {
  background-color: #2b2b35;
  top: -0.4rem;
  box-shadow: 0 0.8rem #fb8122, 0 1.4rem rgba(0, 0, 0, 0.4);
}

.btn:active {
  background-color: #2b2b35;
  top: -0.8rem;
  box-shadow: 0 0.4rem #fb8122, 0 1rem rgba(0, 0, 0, 0.4);
}

.game {
  display: flex;
  flex-wrap: wrap;
}

.game-info {
  margin: 1.5rem;
  color: #fff;
}

.board > div {
  display: flex;
}

.title-name {
  font-size: 2.4rem;
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

.start-btn {
  background-color: #fb8122;
  border: 0.2rem solid #fb8122;
  margin-top: 2rem;
  width: 10rem;
  height: 4rem;
  color: #20202a;
  font-size: 1.4rem;
  font-weight: 800;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #fb8122;
  }
  button {
    background-color: #f9f9f9;
  }
}
